<html>
  <head>
    <title>quis custodiet ipsos/ custodes?</title>
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
        crossorigin="anonymous">
    </script>
    <script
        src="//code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        namespace = '/get_csv';
        var socket = io(namespace);
        $('form#csv_for_dates').submit(function(event) {
          socket.emit('csv_for_dates', {
            firstdate: {{ form.firstdate.raw_data }},
            lastdate: {{ form.lastdate.raw_data }}
          });
          return false;
        });
      });
    </script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>alert('{{ message }}');</script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form id="csv_for_dates" action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.firstdate.label }}
        {{ form.firstdate(size=40, placeholder="YYYYMMDD, e.g. March 23, 1988 is 19880323") }}
        {% for error in form.firstdate.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.lastdate.label }}
        {{ form.lastdate(size=40, placeholder="YYYYMMDD, e.g. March 23, 1988 is 19880323") }}
        {% for error in form.lastdate.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </body>
</html>
